[2018-07-16 09:20] VSG24 opened #1 "Need help"
I think you probably forgot about your other project PMAlertController, and since you are apparently active here I'm asking you here to please respond to my latest comment on [this issue](https://github.com/pmusolino/PMAlertController/issues/64).

Thanks.

[2018-07-16 09:22] #1 closed

[2018-07-16 14:37] ultranano opened #2 "Repeated instance view controller if you "shake" the device twice or more after shaking the first time"
Repeated instance view controller if you "shake" the device twice or more after shaking the first time.

[2018-07-16 14:40] ultranano opened #3 "Response body formatter for JSON and XML contents"
Response body formatter for JSON and XML contents

[2018-07-16 14:50] ultranano opened #4 "Check possible override of still used "shake" functions inside debugged App"
Check possible override of still used "shake" functions inside debugged App

[2018-07-16 20:19] pmusolino commented on #4
Done in release 1.0.1 https://github.com/pmusolino/Wormholy/releases/tag/1.0.1

[2018-07-16 20:19] #4 closed

[2018-07-16 20:20] pmusolino commented on #2
Done in release 1.0.1 https://github.com/pmusolino/Wormholy/releases/tag/1.0.1

[2018-07-16 20:20] #2 closed

[2018-07-17 07:28] ultranano opened #5 "Add an alternative methods to invoke Wormholy (default is shake)"
Give the possibility to change the invocation method between
- shake
- long pressure (n second time tbd)
- multi touch gesture (example: triple touch)

[2018-07-17 07:42] #5 closed

[2018-07-18 08:47] nomimalik1769 opened #6 "Layout issue"
Not Working properly on iPhone 5s Layout design issue I am Unable to Read full details
![image](https://user-images.githubusercontent.com/26509387/42870377-24cbace4-8a91-11e8-833a-c08a45202ab7.png)

[2018-07-18 09:03] pmusolino commented on #6
Hi @nomimalik1769
I solve it as soon as possible.

Thanks
-Paolo

[2018-07-18 09:39] pmusolino commented on #6
Fixed in this new release
<img width="569" alt="schermata 2018-07-18 alle 11 38 00" src="https://user-images.githubusercontent.com/495617/42873361-20840382-8a7f-11e8-8479-70042655ff70.png">

[2018-07-18 09:39] #6 closed

[2018-07-20 03:41] markuswinkler opened #7 "Can't compile with flag "use_modular_headers!" (CocoaPods)"
Hi!

Great idea!

If I use the flag "use_modular_headers!" in my pod file I get the following error:
`/Pods/Wormholy/Sources/Objc/Wormholy+Foo.m:9:9: 'Wormholy/Wormholy-Swift.h' file not found`

I use the latest build for cocoapods directly from the repository.
Wormholy is the only pod that gives me grief.

[2018-07-20 07:31] nomimalik1769 commented on #6
**Issue is still the same. I have updated the Pod and the problem is still their.**
![image](https://user-images.githubusercontent.com/26509387/42989226-9c2269bc-8c18-11e8-9052-e4c5fd3ba103.png)

[2018-07-20 07:42] pmusolino commented on #6
Are you sure that you call, before the pod update, `pod repo update`?

[2018-07-20 19:20] samnung commented on #7
Workaround: change it to `#import "Wormholy-Swift.h"` and it will works.

[2018-07-20 19:31] markuswinkler commented on #7
hm, that didn't work. same error.
I also tried (with and without the workaround):
`pod 'Wormholy', :modular_headers => false, :configurations => ['Debug']`

[2018-07-20 22:05] fawkeswei commented on #7
Same here, workaround doesn't work

[2018-07-22 13:54] pmusolino commented on #7
Hi guys, I will try to investigate the problem as soon as possible. Thanks for reporting the problem.

[2018-07-22 14:08] nomimalik1769 commented on #6
yes, and I have checked the pod.lock it's on the latest version and the issue is still same. I have deleted the pod and also reinstall it. But the issue is still the same.

[2018-07-23 14:11] afallon02 opened #8 "Intercept WKWebView calls"
Would be great (if possible) to enable requests sent via a WKWebView to be intercepted and shown within Wormholy's debug menu.

These resources might help:
1) https://stackoverflow.com/questions/40133512/intercept-request-with-wkwebview
2) https://github.com/BKRApps/KRWebView

[2018-07-23 14:22] AV8R- opened #9 "Crash on request tap"
When I press on any of requests in list app crashes with exception:

    "setKeyboardAppearance:" =     (
    );
}

Any suggestions what am I doing wrong? :(

[2018-07-24 03:22] kapoorsahil opened #11 "`wormholy_fire` notification doesn't work"
The current way of invoking Wormholy mentioned in the documentation doesn't work:

`NotificationCenter.default.post(name: NSNotification.Name(rawValue: "wormholy_fire"), object: nil)`

Please update `wormholy_fire` -> `wormholy_shake`.

[2018-07-24 03:26] kapoorsahil opened #12 "Can't disable shake gesture"
Setting`WORMHOLY_SHAKE_ENABLED` to `NO` in environment variables doesn't work for me.

Xcode 9.4.1
iOS 11.4.1

[2018-07-24 08:03] pmusolino commented on #12
It's really strange. I tested it now, and it works.

Do you insert `WORMHOLY_SHAKE_ENABLED` in the right place?

<img width="906" alt="schermata 2018-07-24 alle 10 01 53" src="https://user-images.githubusercontent.com/495617/43124901-c05d0ffe-8f28-11e8-8086-cf41815664d3.png">

[2018-07-24 08:07] pmusolino commented on #11
I tested it now and it works, are you sure that you call it in the right place?

The notification is called "wormholy_fire" because you call it to invocate wormholy everywhere (not only during the shake).

[2018-07-24 09:40] pmusolino commented on #6
Can you try on iOS 11 if you have the same issue?

[2018-07-24 17:05] davedelong commented on #12
It'd be nice if this were runtime-configurable

[2018-07-24 17:06] davedelong opened #14 "Capture response headers"
It'd be nice if Wormholy captured and displayed response headers as well.

I'll see if I can work up a PR at some point to add these.

[2018-07-24 19:32] pmusolino commented on #14
Yes sure, why not.
Please, follow the code style used in the library, and open a PR 👍

Thanks
-Paolo

[2018-07-25 12:37] mkeremkeskin opened #15 "CocoaPods can not find specification"
Hi there,

I'm trying to use the library via CocoaPods but it gives the error below.

Maybe something got broken in latest version of .podspec file.

Thnx already.

[2018-07-25 13:58] pmusolino commented on #15
Hi @mkeremkeskin ,

before `pod install`, try to call `pod repo update` for updating your local specs.

From one of the last release of cocoapods, `pod repo update` is no longer automatically called.

-Paolo

[2018-07-25 13:58] #15 closed

[2018-07-26 15:22] cfiorini opened #18 "Icon to copy request/response body to clipboard"

[2018-07-26 15:25] fcorbi opened #19 "[Feature] Overflow Toast to show network call in realtime"
Additional options to enable toast to show realtime network calls while navigating my app

[2018-07-26 15:58] pmusolino commented on #18
It's a feature already implemented.

![response copy](https://user-images.githubusercontent.com/495617/43273646-4212e660-90fd-11e8-9202-ecd27de71d28.png)

[2018-07-26 15:58] #18 closed

[2018-07-26 16:12] cfiorini commented on #18
@pmusolino is not true, I would like a quick button to do it, that's the long way!

[2018-07-26 16:20] #14 closed

[2018-07-26 16:23] pmusolino commented on #14
Thanks @davedelong,
good job!

-Paolo

[2018-07-27 05:31] kashiftriffort opened #20 "Podfile not found"
Hi,

While installing via Pod file getting error, that Wormholy pod file not found. Please help in this.

[2018-07-27 08:05] pmusolino commented on #20
Please, check it out this: https://github.com/pmusolino/Wormholy/issues/15

[2018-07-27 08:05] #20 closed

[2018-07-27 09:24] #12 closed, assigned to nobody

[2018-07-27 11:05] pedrocid opened #22 "ShakeEnabled default to false in version 1.1.1"
Hi! I just notice that now by default, shakeEnabled is false. Is this the intended behaviour? @davedelong I've created a PR to change that value

[2018-07-27 12:34] pmusolino commented on #22
Thanks merged!

- Paolo

[2018-07-27 12:34] #22 closed

[2018-07-31 15:24] Abdallah-Shaheen opened #24 "Blocking Progress Update while uploading or downloading a file."

[2018-07-31 15:28] pmusolino commented on #24
Hi,
what do you mean? Can you show me something?

Thanks
-Paolo

[2018-07-31 15:50] Abdallah-Shaheen commented on #24
Hi Paolo and Thank you
the problem is when I try to upload or download file I need to update UI progress with Wormholy the progress update is blocked when I uninstalled Wormholy the UI progress update work again.

Thanks
Abdallah Shaheen
![img_0012](https://user-images.githubusercontent.com/22009198/43470997-40ecd71e-94ea-11e8-8943-9fa9d89191b3.JPG)

[2018-07-31 15:51] gaparrado opened #25 "Import Wormholy into objc to enable/disable"
#import <Wormholy/Wormholy.h> doesn't expose the shakeEnabled variable and therefore can't be disabled from ObjC

[2018-08-01 09:19] filipandrei87 opened #26 "Export Data"
Is there a way to export the network data for a specific endpoint?

[2018-08-01 09:32] pmusolino commented on #26
At the moment you can copy manually every single network call.
How do you expect data to be exported?

-Paolo

[2018-08-01 11:28] Chirag1992 opened #27 "Is it compatible with Moya ?"

[2018-08-01 13:06] pmusolino commented on #27
If it uses NSURLSession yes! I see that Moya is an abstraction layer on top of Alamofire, then YES, Wormholy works.

[2018-08-01 13:06] #27 closed

[2018-08-01 13:10] Chirag1992 commented on #27
But it is not working.. do we have to write any code for this .. because I just integrated the sdk .

[2018-08-01 13:11] pmusolino commented on #27
What version do you have integrated? Using Cocoapods?

[2018-08-01 13:15] Chirag1992 commented on #27
(1.1.0) yes through cocoa pods

[2018-08-01 13:17] pmusolino commented on #27
Try the new release `1.1.2`, that fix the problem.

Before `pod install`, try to call `pod repo update` for updating your local specs.

- Paolo

[2018-08-01 13:29] Chirag1992 commented on #27
still its working after updating pod

[2018-08-01 13:30] pmusolino commented on #27
The Wormholy's view appear, right?

[2018-08-01 13:32] Chirag1992 commented on #27
![img_a7d20135f0fb-1](https://user-images.githubusercontent.com/34506147/43524609-c2ceb222-95b0-11e8-8ef4-13a21c97a3bd.jpeg)
I got this.. this also I got earlier also

[2018-08-01 13:33] pmusolino commented on #27
What is this?

[2018-08-01 13:34] Chirag1992 commented on #27
after shaking phone I got this screen

[2018-08-01 13:37] pmusolino commented on #27
I think that you are using another library or there is something else in your code that uses the shake gesture. Try to fire Wormholy manually using

`NotificationCenter.default.post(name: NSNotification.Name(rawValue: "wormholy_fire"), object: nil)`

Please, read the **Usage** section in the README.

-Paolo

[2018-08-01 13:53] Chirag1992 commented on #27
no its not working

[2018-08-01 14:18] pmusolino commented on #27
Do you have the "debug" configuration in your project?

The screen that you posted is not Wormholy ¯\_(ツ)_/¯ then, there is something that prevents Wormholy to be presented.

[2018-08-01 15:35] pmusolino commented on #24
It's really strange. Can you send me a simple demo project where I can replicate the problem?

[2018-08-01 15:36] pmusolino commented on #25
Thanks for the tip. I solve it as soon as possible!
-Paolo

[2018-08-02 06:31] Chirag1992 commented on #27
yes debug configuration is there in the project

[2018-08-02 07:58] mohammad19991 opened #28 "Filter requests for a specific domain and Ability to clear the requests log"
Currently `Wormholy` will log all the network calls that uses `NSURLSession` so you will see many requests being triggered by third party SDKs which I don't want always to see but I would like to see all the requests related to my domain.

Also it would be nice if we can clear the log.

[2018-08-02 12:49] pmusolino commented on #28
You can search for the API calls you need, but the functionality to clean the calls you made earlier is useful! I will implement it as soon as possible.

[2018-08-02 12:51] pmusolino commented on #27
Even if it does not work with Moya, the library must be able to appear. The fact that it does not appear to you, means that there is something that prevents it from doing so. Do you have anything in the console?

[2018-08-02 13:45] Chirag1992 commented on #27
ya the screen shot I share was our screen . now wen remove the shake of our that screen. But now after shake wormhole screen is not coming. I am in debug mode only

[2018-08-03 08:35] dwdmarkowski commented on #28
Could I implement cleaning calls? :)

[2018-08-03 09:20] slavasemeniuk opened #29 "Increase numbers of lines at RequestCell"
Hi
I'd like to offer you increase the number of lines for the `urlLabel` at the `RequestCell` since it's impossible to see the full path of a request if the host is quite long.

[2018-08-03 10:14] #28 closed

[2018-08-03 10:24] #29 closed, assigned to nobody

[2018-08-03 10:52] pmusolino commented on #27
It is difficult to understand why this happens. Try to make a small demo project where you can reproduce the problem, so I can investigate.

[2018-08-14 03:19] wenxp opened #33 "The last new version is not in the cocoapods"
The last new version doesn't trunk push to the cocoapods.
Install Wormholy via cocoapods , and get the version "1.0.1"
please check it

[2018-08-14 16:03] pmusolino commented on #33
You need to call `pod repo update`.

-Paolo

[2018-08-14 16:03] #33 closed

[2018-08-16 09:37] Pulkit-1mg opened #34 "Getting Swift Compiler Errors"
After Installing pod, getting swift compiler errors in following files :

**CodeAttributesString.swift
Highlighter.swift
RequestModelBeautifier.swift
Theme.swift**

Error : Method does not override any method from its super class

**Swift version 3.3**

[2018-08-16 11:17] pmusolino commented on #34
Wormholy is compatible with Swift >= 4, then I do not test Wormholy with Swift 3 projects.

I've not tested this solution, but a workaround is possible. Append this to your Podfile, and add pods that are already Swift 4 to the array swift4Targets, then pod install.
[code]

[2018-08-16 11:17] #34 closed

[2018-08-16 11:20] pmusolino commented on #26
Issue closed due to inactivity.

[2018-08-16 11:20] #26 closed

[2018-08-16 11:52] Pulkit-1mg commented on #34
Issue Resolved  by compiling the framework with Swift 4.1

[2018-08-16 16:35] Pulkit-1mg opened #35 "I want to integrate to custom schemes"
I have 4 schemes in my project except Release and I want to integrate in all the schemes  except Release version.

Can anyone please explain the steps required to achieve my requirement?

Thanks in advance

[2018-08-17 05:51] Pulkit-1mg commented on #35
Also if I remove my debug build configuration, then library is not working on any scheme.

[2018-08-20 08:40] pmusolino commented on #35
Hi @Pulkit-1mg,

do you use NSURLSession or a library for the network requests?

[2018-08-21 05:48] Pulkit-1mg commented on #35
we are using AFNetworking. But I also tried this in an empty project. This is only working with a project with existing Debug scheme, if I delete Debug scheme this stops working.

Also one more scenario I found where my app stops working, After making an API call to upload an image my app stops making any api call (This occurs only if Wormholy is enabled).

Please let me know ho to solve this

[2018-08-21 08:58] pmusolino commented on #35
This could be a bug. Can you pass the demo project?
You can try to integrate Wormholy in any scheme, using only

[code]

Before a `pod update`, try to call `pod repo update`.

-Paolo

[2018-08-22 09:04] Pulkit-1mg commented on #35
Please find the sample project
https://drive.google.com/open?id=1KZJbhr0yi5_bT66cEw9vqbcYdfZ_ZLzm

In the project I have only Staging in my Podfile. But library is not working.

Please let me know hot to resolve this.

[2018-08-23 10:42] Pulkit-1mg commented on #35
Hi @pmusolino
Found an issue with library.
After making an api call which is a POST request with multi-part content. Every next API call results into timeout.

Please suggest a  resolution for this?

[2018-08-23 10:45] pmusolino commented on #35
I have to investigate this. Can you open a new issue not related to this? Thanks

[2018-08-23 10:45] #35 closed

[2018-08-23 15:38] pmusolino commented on #7
As reported by @VincentSit in this issue https://github.com/pmusolino/PMAlertController/issues/68#issuecomment-415459289 on my other project PMAlertController, the problem can not be solved.

------------------------

**Here is the answer for completeness:**

Static libraries are completely different from dynamic frameworks, it is not a container or bundle.

A static library is a single file that

[2018-08-23 15:38] #7 closed

[2018-08-23 18:09] ilyapuchka opened #37 "Allow sharing whole network session and whole request"
Quickly skimming through code I didn't fine anything indicating that this is currently possible and screenshots in README also prove that. Would be nice to be able to share not just individual screenshots but the whole network session, in a for of archive probably. As well as individual request completely, not just its body and response body.
I'm cloning the project now to see if I can add this.
L

[2018-08-24 05:04] Pulkit-1mg opened #38 "Getting timeout for every api call after making a multi-part api call"
Found an issue with library.

After making an api call which is a POST request with multi-part content. Every next API call results into timeout.

Please suggest a resolution for this?

[2018-08-24 10:05] zhaokunhaoa commented on #3
Thanks for your Wormholy!
Can the response support Chinese?

[2018-08-24 10:46] pmusolino commented on #38
If you have any useful code to replicate the problem, feel free to post it here.

[2018-08-24 10:49] pmusolino commented on #37
This could be interesting!
I have to think about how to implement it, and especially in what format.

[2018-08-27 08:11] dDomovoj opened #39 "Possibility to show/share CURLs"

[2018-08-30 14:18] alpriest opened #40 "UIWebView 302 Redirects cause duplicate requests"
When using Wormholy, a UIWebView that receives a 302 Redirect response issues 2 requests for the redirect URL. You can see it happening by monitoring the web requests in Charles. This does not happen with WKWebView but there is a bug with that implementation which means I have to use UIWebView for now.

I've attached a sample project which demonstrates the failing behaviour, and also screenshots i

[2018-09-17 10:34] richardtop opened #41 "Capture output to an external service"
I have an idea to be able to capture the i/o of the networking stack and to share it automatically to some server. Or, at least, be able to share all the captured information as archive.

[2018-09-23 16:44] pmusolino commented on #40
This is really strange. I will investigate.

[2018-09-23 16:46] pmusolino commented on #41
I believe I could expose the model of requests. I put your proposal in the list of improvements.

[2018-09-26 21:14] richardtop commented on #41
@pmusolino maybe, utilize Apple's `OSLog` somehow?

[2018-09-27 09:40] richardtop commented on #41
@pmusolino I was thinking of somehow utilizing OSLog to capture output and send it to the remote location. But now I think, it's better to have some custom solution.

The goal is to be able to debug networking from user's devices which are not onsite.

[2018-09-27 09:48] pmusolino commented on #41
I agree. The only solution is to create a web service. For the moment, the fastest solution is to expose requests, so that the developer can do what he wants.

[2018-09-27 10:44] richardtop commented on #41
What you mean is to add an option to expose requests, so the developer could plug in its own module tied to a web service?

I was thinking about even simpler case - to store the data locally and share with the iOS default dialog
![image](https://user-images.githubusercontent.com/8013017/46141043-7f65f180-c25b-11e8-946c-8b6cd5f8caf6.png)

[2018-09-27 13:38] pmusolino commented on #41
@richardtop yes to everything.

Linked topic: https://github.com/pmusolino/Wormholy/issues/37

[2018-09-27 13:43] richardtop commented on #41
Both approaches would be highly appreciated. In essence, you could use the interface to plug in your own share extension.

[2018-09-27 13:47] pmusolino commented on #41
Yes, but the big question mark is the sharing format. Can a simple appropriately formatted text file be enough? What may be the use cases in your opinion?

[2018-09-27 13:57] richardtop commented on #41
Let's take my use-case, for example.
My app has an issues only with one particular user with one particular phone. I'd like to send him a custom build and ask to do certain actions. Then, he sends me the archive back, so I could trace, which requests succeeded and which failed.

The problem is that I can't just take that user's phone and connect it to a debugger, as he is in different location.

[2018-09-27 14:16] pmusolino commented on #41
Your use case is clear. Ok, I'll work in the next few days.
Stay tuned.

[2018-10-17 14:48] pmusolino commented on #37
Implemented in this new release: https://github.com/pmusolino/Wormholy/releases/tag/1.2.1 Now you can copy or save requests in `.txt`.

[2018-10-17 14:48] #37 closed

[2018-10-17 14:49] pmusolino commented on #41
Implemented in this new release: https://github.com/pmusolino/Wormholy/releases/tag/1.2.1 Now you can copy or save requests in .txt. Also, requests are exposed to the developer.

[2018-10-17 14:49] #41 closed

[2018-10-17 14:52] pmusolino commented on #39
For the moment, with this new https://github.com/pmusolino/Wormholy/releases/tag/1.2.1 you can save and copy requests.

[2018-10-24 14:11] dimitris-c opened #44 "Wormholy not being presented in certain cases"
Currently if a UIViewController has presented a modal, Wormholy is unable to get presented.

I made a PR #43 to fix this by recursively checking the presentedViewController

[2018-11-04 16:54] mchirino89 opened #45 "Memory leak"
Currently I'm experiencing a spike of memory leaks on my graph every time I use the pod. Thoughts about it?

<img width="1287" alt="captura de pantalla 2018-11-04 a la s 13 52 49" src="https://user-images.githubusercontent.com/42847399/47967145-0cf5e780-e039-11e8-9beb-7c3e84410fa0.png">

[2018-11-12 10:47] pmusolino commented on #44
Hi, @dimitris-c thanks for your PR!

I don't understand why you do this. In every case that I tested, Wormholy is presented in the right way, also if the view controller how present Wormholy is presented as a modal.

What is your use case?

[2018-11-12 11:20] dimitris-c commented on #44
In my case, I use the library as part of a Debug menu, not as a standalone.
In my case I had two modally presented view controllers, and Wormholy couldn't be presented.

[2018-11-15 10:11] pmusolino commented on #44
PR merged, thanks @dimitris-c

[2018-11-15 10:11] #44 closed

[2018-11-15 17:08] kingsofteng commented on #24
I guess this is an issue related to updating UI on the non-main thread.
@Abdallah-Shaheen
It would be helpful if you provide the detailed information or simple demo project.
Then I can help you.

[2018-12-19 12:32] yangfeiyu commented on #40
I meet too

[2019-01-09 17:13] danielaRiesgo opened #49 "[Feature Request] Exclude URLs from caching response data"
It would be nice to be able to tell Wormholy which URLs to ignore from saving response data to memory.
We use it in our current project and we were downloading some big files, until we realized that Wormholy was storing that data in memory for the request history. We kept Wormholy but had to tweak it to avoid this (`CustomHTTPProtocol.swift` file, `urlSession(_ session: URLSession, dataTask: URLSe

[2019-01-13 17:35] pmusolino commented on #49
Hi @danielaRiesgo! Thanks for reporting this feedback. I will soon implement this feature, perhaps via a custom .plist file.

[2019-02-19 23:59] graham-perks-snap opened #51 "Xcode beta 3 runtime issue"
Launching an app containing Wormholy results in an immediate abort with this message:

| Swift class extensions and categories on Swift classes are not allowed to have +load methods

[2019-02-20 10:51] pmusolino commented on #51
Hi there.
Are you using Swift 5?

I have not yet tested Wormholy with Swift 5, it will be converted as soon as it is officially released.

[2019-02-20 12:55] graham-perks-snap commented on #51
The error occurs in both a new template project created with Xcode beta, and in an existing project simply built with the beta. So Swift 4 and 5. The OS' loader generates the error and the app fails to even load, let alone run. The Swift version is immaterial.

I've not been able to trace down the `load` giving grief.

I generated a Single View app from the template, close Xcode, `pod init`, added

[2019-02-24 16:50] maedewiza commented on #51
Any news on this?

[2019-02-25 02:37] Coeur commented on #51
I was able to reproduce @graham-perks-snap steps.
Code builds fine, but running the app will cause an immediate issue.

Same issue whether using `use_frameworks!` or not.

Obviously related to one of the two `load` functions of the framework:
* either from [Wormholy+Foo.m](https://github.com/pmusolino/Wormholy/blob/master/Sources/Objc/Wormholy+Foo.m)
* or from [NSURLSessionConfiguration+Wormholy.m

[2019-03-01 05:10] iiiCeBlink commented on #51
@graham-perks-snap hey, I just submit a PR https://github.com/pmusolino/Wormholy/pull/52 that can fix this issue. You can have a try.

[2019-03-08 03:48] GelarAulia opened #53 "Install for Swift 4"
So, I want to install Wormholy in my project but my app is still on Swift 4, can I install newest version with Swift 4 support or do I need to install 1.1.3 version? I tried to install the newest version but I got a few errors.

[2019-03-15 13:21] nomimalik1769 opened #54 "iPhone X Layout issue"
iphone X layout issue it's showing black screen on top I am attaching screenshots. I am using latest version of Wormholy.
![03A21C10-F4F6-4D4E-9487-F015412017FA](https://user-images.githubusercontent.com/26509387/54434028-1877be80-474f-11e9-8248-612fa4ec4164.jpg)
![A1A09CB1-41C5-441E-9DA4-5583DBD39794](https://user-images.githubusercontent.com/26509387/54434029-1877be80-474f-11e9-9307-1d1a74495887

[2019-03-15 15:18] pmusolino commented on #54
This is really really strange. Do you use one or more library that has interference with the UI?
Which iOS version do you use?

[2019-03-16 06:39] nomimalik1769 commented on #54
I am using iOS version 11
and Only Wormholy is creating this strange issue.

[2019-03-19 11:35] pmusolino commented on #54
Can you send me a demo project where the problem occurs?

[2019-03-26 08:54] jihongboo opened #55 "Swift 5.0 crash"
When I update the Xcode to 10.2, our App crashed at launch time with the log:
"Swift class extensions and categories on Swift classes are not allowed to have +load methods"
I removed Wormholy and no crash appear.

[2019-03-26 09:41] pmusolino commented on #55
Hi there. I'm going today to review this PR https://github.com/pmusolino/Wormholy/pull/52 that fix the problem.

[2019-03-26 09:41] #55 closed

[2019-03-26 09:53] #51 closed

[2019-03-26 10:04] pmusolino commented on #53
Hi there. I'm sorry but you need to use an old version. Check it out https://github.com/pmusolino/Wormholy/releases

[2019-03-26 10:04] #53 closed

[2019-04-04 03:12] TimberTang opened #56 "WormHoly Cannot get NSMutableURLRequest request."
that's my code
[code]

breakpoint not run here in wormholy

[code]

[2019-04-04 03:16] TimberTang commented on #56
In swift 4 it is no problem !
but, i am upgreate to swift 5, from [#51](https://github.com/pmusolino/Wormholy/pull/52)
glade to have a answer!

[2019-04-04 09:21] pmusolino commented on #56
Hi there. Are you using the fork of @iiiCeBlink or the last version of Wormholy?

[2019-04-12 09:17] TimberTang commented on #56
yeah, i am using the lastly version~

[2019-04-19 09:56] jihongboo opened #57 "'Wormholy-Swift.h' file not found"
I can run my App in my device or simulator, but when I try to archive, I got a "'Wormholy-Swift.h' file not found" message.

[2019-04-30 09:57] pmusolino commented on #57
Are you using `use_modular_headers!` in your podfile?

[2019-04-30 10:18] jihongboo commented on #57
No. And it seems like a random events. I have tried clean build Folder, reinstall Wormholy, but sometimes it works fine, sometimes it just can't make it.
![29301556619278_ pic_hd](https://user-images.githubusercontent.com/15397647/56955567-60726980-6b74-11e9-8cea-2ad1b1cdea9f.jpg)

[2019-05-07 14:38] #45 closed

[2019-07-07 15:13] ZackKingS opened #59 "wormholy don't show when I also override var next: UIResponder"
extension UIApplication {
    private static let invokeAwakeTestOnce: Void = {
        SwiftAwakeFactory.awakeAllClass()
    }()

    open override var next: UIResponder? {
        UIApplication.invokeAwakeTestOnce
        return super.next
    }
}

[2019-07-13 17:24] silnose opened #60 "Swift 5 Compiler Error"
Situation: First try installing Wormholy in my app

Result after:
/Pods/Wormholy/Sources/Subclasses/WHBaseViewController.swift:44:91: 'shared' is unavailable: Use view controller based solutions where appropriate instead.
1. 'shared' has been explicitly marked unavailable here (UIKit.UIApplication)

[2019-07-15 09:00] pmusolino commented on #60
Hum... can you try to clean the project and derived data please?

[2019-07-15 09:03] pmusolino commented on #59
Probably you broke the shake. If you declare a new shake action, and you override UIResponder, your method linked to you shake action is called?

[2019-07-15 09:03] #59 closed

[2019-07-15 09:05] pmusolino commented on #57
I'm really sorry for the delay, I didn't realize you were waiting for an answer, and I imagine you have already solved the problem.
Let me know if you solved. Thanks

[2019-07-15 09:05] #57 closed

[2019-07-15 09:05] pmusolino commented on #54
Closed due to inactivity.

[2019-07-15 09:05] #54 closed

[2019-07-18 12:23] fvvliet commented on #8
+ 1

[2019-07-18 12:34] fvvliet commented on #40
Any updates on this ?

[2019-07-25 03:38] rayray commented on #60
Same, this doesn't seem to work at all in Xcode 10.3 with Cocoapods. Fresh `pod install`, cleaned build folder. The Wormholy target is set to Swift 4.0, but there are still a lot of errors about renamed APIs.

[2019-07-25 10:36] superwave opened #61 "The content in .swift-version file, which was deprecated in CocoaPods 1.7.0, should be moved to .podspec file"
while using CocoaPods version > 1.7.0, the below code in PodFile to support swift version will not work and get error when pod install.
[code]

The CocoaPods blog says that CocoaPods 1.7.0 deprecated the `.swift-version` file, the  `swift_version` should be moved to .podspec file,

http://blog.cocoapods.org/CocoaPods-1.7.0-beta/

maybe adding this line in .podspec will helps:

`s.swift_version = '

[2019-07-26 16:18] pmusolino commented on #60
Hi there. Are you sure are you using the latest version of Wormholy (v.1.4.1)?

[2019-08-23 11:55] devturhan opened #62 "Disables SSLPinning on Alamofire"
Wormholy overriding certificate pinning options while using with Alamofire.
I'm using the example code block to pin certificates. While Wormholy enabled, it is not working correctly.

[code]

[2019-09-17 19:27] colinhumber commented on #49
We needed the ability to ignore certain hosts as well. I made a PR [here](https://github.com/pmusolino/Wormholy/pull/65) where you can specify blacklisted hosts like so. Any subdomains will be ignored as well:

[code]

[2019-09-18 14:17] #60 closed

[2019-09-18 14:19] pmusolino commented on #61
Hi @superwave. Thanks for this suggestion. I'll do it in the next release.

[2019-09-18 14:19] #19 closed

[2019-09-18 14:20] pmusolino commented on #3
In the last versions of Wormholy, the body it's formatted correctly.

[2019-09-18 14:20] #3 closed

[2019-09-18 22:53] #49 closed

[2019-09-18 22:54] pmusolino commented on #49
Reference: https://github.com/pmusolino/Wormholy/pull/65

[2019-10-26 22:40] colinhumber opened #69 "Wormholy is re-enabled when referencing default or ephemeral session configs after being previously disabling"
If I call the `Wormholy.enable(_:sessionConfiguration:)` to disable logging of network traffic on either the `URLSessionConfiguration.default` or `URLSessionConfiguration.ephemeral`, the next time either of those configurations are referenced, Wormholy will re-enable logging for those configurations as the swizzled accessors in `NSURLSessionConfiguration+Wormholy` automatically enable logging.

As

[2019-10-30 21:20] pmusolino commented on #62
Hi there.
I'm so sorry for the late reply, I had completely lost this issue.

We should investigate further to understand why this happens since I don't know all the dynamics under Alamofire. This is the first time that I see this problem.

[2019-10-30 21:27] pmusolino commented on #69
Hi there!
Thanks for discovering this bug.
I think I understand where the problem is, but I'm not able to test it.
Do you have a test project, where can I replicate this issue?

[2019-10-31 14:03] colinhumber commented on #69
Sure thing. I've attached a project and commented the affected lines in `AppDelegate.swift`.
[wormholytest.zip](https://github.com/pmusolino/Wormholy/files/3794086/wormholytest.zip)

[2019-11-12 07:52] ValeriiSohlaiev opened #70 "Memory leak"
Currently, I'm experiencing a spike of memory leaks on my graph every time I use the pod. Thoughts about it?

![Group](https://user-images.githubusercontent.com/2727120/68652398-09d9e500-0532-11ea-831e-55f4517e4ef7.png)

[2019-11-12 09:04] pmusolino commented on #70
Hi there.
Which version are you using? We fixed a memory leak in version 1.4.1. Try to install the latest version (1.5.0) and let me know.

Thanks

[2019-11-13 19:35] ValeriySoglaev commented on #70
Hi, sorry but I use 1.5.0
<img width="569" alt="image" src="https://user-images.githubusercontent.com/2727120/68797453-51a95b00-065d-11ea-85f9-2b8833a3297b.png">
<img width="1010" alt="image" src="https://user-images.githubusercontent.com/2727120/68797509-6685ee80-065d-11ea-9330-3c46b8b667b5.png">

[2020-01-04 17:15] Unihilator commented on #62
It's not about Alamofire. Wormholy basically doesn't allow to call urlSession(_:didReceive:completionHandler:) delegate method which handles session level challenges. You can reproduce it by simply implement session delegate with the method above.

[2020-01-04 19:15] Unihilator commented on #62
Fixed in [this PR](https://github.com/pmusolino/Wormholy/pull/71). Feel free to review

[2020-01-13 09:17] Alex-k-tech opened #72 "is it possible to make the dev panel more readable in dark mode?"
is it possible to make the dev panel more readable in dark mode? Turn off the dark mode for the Wormholy dev panel it is also a good solution
for now, it looks like this
![image](https://user-images.githubusercontent.com/54838534/72243999-560ed780-35fe-11ea-9ad7-35c912c177b7.png)

[2020-01-23 12:34] ankitgarg1mg opened #73 "Wormholy not recording API Calls in AFNetworking"
As wormholy is using method swizzling if we install along with AFNetworkActivityLogger, it is not able to record requests

[2020-01-27 11:07] pmusolino commented on #73
Hey @ankitgarg1mg.
I don't know how AFNetworkActivityLogger is implemented, but maybe they are using the same method swizzling, so it overrides the swizzling of Wormholy.

[2020-01-27 11:07] #73 closed

[2020-02-14 10:51] drinkius opened #74 "Using in Objective-C project"
Trying to use the current version 1.5.1 in an old Objective-C project I get an error:

The problem is - I don't have such a setting in the project and `post_install` script doesn't work - I don't get to that stage at all so I can't set the version using `Podfile` script.

Is it possible to add the `SWIFT_VERSION` as the warning suggests or is there any other way to install Wormholy without modifyi

[2020-03-09 15:30] EugeneNaloiko opened #76 "Integer Overflow Issue when Uploading a file"
In the method:
`    private func body(from request: URLRequest) -> Data? {
        return request.httpBody ?? request.httpBodyStream.flatMap { stream in
            let data = NSMutableData()
            stream.open()
            while stream.hasBytesAvailable {
                var buffer = [UInt8](repeating: 0, count: 1024)
                let length = stream.read(&buffer, maxLength: buffer.count

[2020-03-21 16:01] Alex601t opened #77 "Wormholy and other dependencies working with URLSessions"
When both Wormholy and Alamofire 5 are installed as dependencies in project, Wormholy affects on correct Alamofire working, in particular:

When application uploading data via Alamofire 5:

[code]

`uploadProgress` closure is not being called. After deinstalling Wormholy from the project Alamofire 5 is working correctly.

[2020-03-26 10:11] jackjpark opened #78 "Unable to open in the Xcode 11.4 Simulators"
I have upgraded to the latest release of xcode, shake device no longer opens wormhole and neither does using a debug button thats meant to show the pop over.

Has something changed to block wormholy from displaying?

[2020-03-26 11:52] pmusolino commented on #78
Hi there! I haven't tested the new version of Xcode yet. I will do it soon.

[2020-03-31 12:01] pmusolino commented on #77
Hi there. What version of Xcode and Swift are you using?

[2020-03-31 12:14] pmusolino commented on #78
@jackjpark I discovered where is the issue. I opened a PR to fix it.

[2020-04-01 10:12] #78 closed

[2020-04-01 10:49] Alex601t commented on #77
Xcode Version 11.2.1, Swift 5.0

[2020-04-01 10:52] pmusolino commented on #77
Thanks Alex. @kealdishx this can be a good example of a call that doesn't work like expected.

[2020-04-01 15:37] kealdishx commented on #77
OK, I will take a look at the issue and make a reponse if anything updated.

[2020-04-09 12:25] kealdishx commented on #77
It seems that there is no way for your URLProtocol subclass to call `URLSession:task:didSendBodyData:totalBytesSent:totalBytesExpectedToSend:` method, so upload progress will never be called. @pmusolino

[2020-04-09 12:53] pmusolino commented on #77
Interesting @kealdishx. Do you have the demo project where you tried it? I'll try to work on it unless you've already started working on it.

[2020-04-11 12:59] kealdishx commented on #77
That's just a guess.I found something from [apple-ios-example](https://github.com/robovm/apple-ios-samples/blob/master/CustomHTTPProtocol/Read%20Me%20About%20CustomHTTPProtocol.txt):

I don't have free time recently, so I haven't proved it yet. Do you have interest in going on with it?Or I'll solve the issue when I'm free. @pmusolino

[2020-04-16 06:40] valexa opened #81 "package install fails"
There seems to be a problem with the path in Package.swift

<img width="727" alt="Screenshot 2020-04-16 at 07 36 49 (2)" src="https://user-images.githubusercontent.com/108781/79422737-5203a480-7fb5-11ea-8b44-4f2b2bb549d1.png">

[2020-04-16 11:09] pmusolino commented on #81
I share here the same answer that I published on your PR https://github.com/pmusolino/Wormholy/pull/82.
I never tried to use it, but I think that for now, the library can't support the Swift Package Manager, because it has heavy limitations that prevent adding files other than .swift files. In the case of Wormholy, it would not be possible to add all non-swift files (storyboards, xib, images, obje

[2020-04-16 11:09] #81 closed

[2020-04-19 15:43] pmusolino commented on #39
Implemented here https://github.com/pmusolino/Wormholy/pull/75

[2020-04-19 15:43] #39 closed

[2020-04-24 02:45] SagarSDagdu commented on #72
@Alex-k-tech , A full fledged dark mode support has been added in #83 . Here is a sample screenshot:
![Simulator Screen Shot - iPhone 11 Pro Max - 2020-04-24 at 08 07 54](https://user-images.githubusercontent.com/11807135/80169697-c668c400-8603-11ea-8dcd-690d4622fad1.png)

@pmusolino Please review. 😊

[2020-04-26 04:08] omiz opened #84 "Request body is always empty"
The request body always displayed as "-" even when there is body

I'm using version: 1.6.0

[2020-04-26 15:20] pmusolino commented on #84
It's a multipart request? It is the first time that I get this feedback.

[2020-04-26 15:45] omiz commented on #84
I'm not sure if it's the first time you're getting this but it's the first time I'm reporting this issue

in short none of the requests that I have shows the body

so I'm building a URLRequest and setting the httpBody on it using a string after converting it to data. the httpMethod is POST

I was also looking at the body from google analytics, Crashlytics and some other requests nothing is having

[2020-04-26 16:55] pmusolino commented on #84
If you downgrade to the release 1.5.2 you are able to see the requests?

[2020-04-26 17:14] omiz commented on #84
I can see the request body if I downgraded to 1.5.2 but it seems like the request is being duplicated multiple times now like if it's stuck in a loop or something

[2020-04-26 17:16] pmusolino commented on #84
This is super strange! Since I'm not able to replicate the issue, can I ask you a demo project where you are able to replicate the problem systematically?
You can fork the library, use the demo project of Wormholy, and modify it to be similar to your API calls. 🙇

[2020-04-26 17:28] pmusolino commented on #84
Seems that I'm able to replicate the issue also on Wormholy demo project. Seems that the Task finished with error `The request timed out`. In your case, the request is executed correctly?

[2020-04-26 17:34] omiz commented on #84
The API is private and work related I'm sorry but I can't share it

but it's an API where the url and path are the same but the request body is deferent (SOAP API)
The duplicated request has many timeouts but I'm guessing that's because all of them are started at the same time (since the seconds and minutes match in all of them)

the first request is going through fine

[2020-04-26 17:36] pmusolino commented on #84
I did not intend to use your private APIs, but to configure the APIs used by Wormholy (public) using the same settings used by you.

[2020-04-26 17:54] pmusolino commented on #72
Implemented here https://github.com/pmusolino/Wormholy/pull/83

[2020-04-26 17:54] #72 closed

[2020-04-26 17:54] pmusolino commented on #61
Implemented here https://github.com/pmusolino/Wormholy/pull/79

[2020-04-26 17:54] #61 closed

[2020-04-26 17:55] pmusolino commented on #74
Hi there. It was implemented here https://github.com/pmusolino/Wormholy/pull/79 if you try to use the latest release, you will not see the error.

[2020-04-26 17:55] #74 closed

[2020-04-26 17:56] omiz commented on #84
ok so here is what I can share I know it's not much

I use alamofire (5.1.0) to create a request with base authentication and configuration as below

[code]

this is just to understand the process I'm not sure how to build a demo from it without making the server public

[2020-04-26 17:57] pmusolino commented on #77
Related issue https://github.com/pmusolino/Wormholy/issues/76

[2020-04-26 17:57] pmusolino commented on #77
Related issue https://github.com/pmusolino/Wormholy/issues/56

[2020-04-26 18:18] pmusolino commented on #77
@kealdishx same as you. I'll try to fix it asap, but if you found some free time and you have the possibility to take a look at it, I will be grateful to you! 🙇‍♂️

[2020-05-04 18:43] sjapps opened #87 "Wormholy no longer works on iOS 13.4"
This library no longer works on iOS 13.4 because of how it self loads into the app delegate.

https://stackoverflow.com/questions/60970783/why-is-the-next-method-of-uiapplication-not-executed-after-ios-13-4

Wormholy uses this `next` method approach and it is no longer allowed (or it is a bug).

[2020-05-04 18:46] pmusolino commented on #87
Hi there. This problem should be fixed from release 1.5.2. https://github.com/pmusolino/Wormholy/releases

Did you try to update the library?

[2020-05-04 20:00] #87 closed

[2020-05-06 09:07] andrii-krit commented on #84
+ 1 same issue here, body is empty for every request

[2020-05-06 17:10] jameshays commented on #84
I'm seeing this issue as well in 1.6.1.  It is working in 1.5.2

[2020-05-06 21:43] ricardohochman commented on #84
Any update on this issue? I face the same problem. All request bodies are empty.

[2020-05-06 21:48] pmusolino commented on #84
I'm investigating on it 👍

[2020-05-06 22:10] pmusolino commented on #84
Fixed in release 1.6.2 https://github.com/pmusolino/Wormholy/releases/tag/1.6.2 👍

[2020-05-06 22:10] #84 closed

[2020-05-31 13:55] tommy19970714 commented on #8
I made a sample code for WKWebView.
Please check my repository.
https://github.com/tommy19970714/WebKitURLProtocol/tree/master

[2020-07-08 14:57] furiosFast opened #89 "SPM error"
hi,
when i try to add the framework with spm i get this error:

.../SourcePackages/checkouts/Wormholy/Package.swift: Source files for target Wormholy should be located under 'Sources/Wormholy', or a custom sources path can be set with the 'path' property in Package.swift

[2020-07-14 09:28] TizianoCoroneo opened #91 "Carthage build failure on Xcode 12 beta 2"
Building the library with Carthage 0.34.0, using the Xcode 12 beta 2 toolchain, produces a build error that complains about an undefined symbol for architecture armv7.
[code]

This looks like [this same issue](https://developer.apple.com/forums/thread/649918?login=true) reported in the Apple Developer forums. Let's try again in Xcode beta 3 I guess?

[2020-08-24 13:00] #8 closed

[2020-08-25 14:58] pmusolino commented on #8
@tommy19970714 please, feel free to open a PR. 👍

[2020-09-03 18:55] mateuszdetko commented on #62
Any update? I have the same issue.

[2020-09-04 18:37] gblock92 commented on #77
I have a similar issue going on in my project. I installed this pod [azure-notificationhubs-ios](https://github.com/Azure/azure-notificationhubs-ios) and it has a method that makes a network request. When having Wormholy Installed the network request always times out. When removing Wormholy, the request gets called just fine and doesn't timeout.

[2020-09-07 10:06] pmusolino opened #93 "Manage multipart API requests"
As part of https://github.com/pmusolino/Wormholy/pull/92, it would be good to introduce the opportunity to see the body of a multipart request, maybe allowing us to see/download the file.

[2020-09-07 10:09] pmusolino commented on #38
Fixed here https://github.com/pmusolino/Wormholy/pull/92

[2020-09-07 10:09] #38 closed

[2020-09-07 10:32] pmusolino commented on #91
Hi Tiziano. Can you retry with the latest beta of Xcode, please?

[2020-09-07 11:58] TizianoCoroneo commented on #91
Tested 1.6.3 with Xcode 12 beta 6. Works 👍

[2020-09-07 11:58] #91 closed

[2020-09-07 12:08] pmusolino commented on #89
Hi there. For now, the library can't support the Swift Package Manager, because it has heavy limitations that prevent adding files other than .swift files. In the case of Wormholy, it would not be possible to add all non-swift files (storyboards, xib, images, objective-c file, etc ...). I will add support to SPM when they allow us to add external resources.

[2020-09-07 12:08] #89 closed

[2020-09-07 12:16] pmusolino commented on #77
Hey @gblock92 can you retry using the latest version released some hours ago please? https://github.com/pmusolino/Wormholy/releases/tag/1.6.3

[2020-09-07 13:02] Pulkit-1mg opened #94 "Not Tracing API Call's - App using AFNetworking"
I integrated the latest version of pod master branch 1.6.3
It is tracing network calls from third party sdk's only. Not tracing api calls in the app.
My app is using AFNetworking for API calls.

AFNetworking pod v4.0.1

[code]

Description of request object -

e

[2020-09-08 16:35] gblock92 commented on #77
@pmusolino I updated the pod to the latest version (1.6.3) and it looks like the issue is there. The request still times out when Wormholy is added.

[2020-10-05 13:47] MoKeS- commented on #84
Seems to be broken again since the tag 1.6.3 ?

[2020-10-21 14:00] skychiarottoa opened #95 "SPM Xcode"
If I try do import it with SPM i get the follwing:

Source files for target Wormholy should be located under 'Sources/Wormholy', or a custom sources path can be set with the 'path' property in Package.swift

[2020-11-05 19:01] dsaitta0 opened #96 "Performance degratation in CustomSelfAwareHelper.harmlessFunction()"
Hi,

I saw that there is a perfomance degratation due to a for loop used inside the static func harmlessFunction() declared in CustomSelfAwareHelper struct.

This loop is trying to verify the type with the as? operator (that have a complexity of O(n) ) and try to unwrapp the result in order to call the awake() function.

For a medium-larger project (with likely 20k+ classes) that covers old iDevic

[2020-11-06 16:03] akovalov commented on #84
@pmusolino body parameters are broken in 1.6.3, it's ok in 1.6.2

[2020-11-27 14:59] pmusolino commented on #96
Thank you Daniele for opening this issue. Are you using the latest version released 1.6.3?

[2020-12-08 08:56] San-Di opened #97 "Request body can't be seen again in Wormholy 1.6.3"
Hello,

I am using wormholy in version 1.6.3 and my installation in pod file is  `pod 'Wormholy', :configurations => ['Debug']` for ios version 13 with swift 5.

But yet I still can't see my request body.

Please help me with the issue. And also point if I need extra configuration to set.

Thank you in advanced.

[2020-12-09 11:31] pmusolino commented on #97
Hi there. Are you sure that you are using version 1.6.3? Can you run a `pod repo update && pod update`?

[2020-12-10 11:38] San-Di commented on #97
Hello @pmusolino ,

Thank you for your quick response. Yes I am using Wormholy (1.6.3) and I also tried pod update and reinstall.

And I'm still not seeing the request body. Do I still need any other configurations?

[2020-12-12 18:16] pmusolino commented on #97
Can you try to install the demo app, and see if you are able to see the request body? Are you using Alamofire or URLSession?

[2020-12-14 05:59] San-Di commented on #97
Hello,

Yeh, I tried the demo app and still not seeing request body for all API requests, I have no problem with response body though. I am using Alamofire ( 5.4.0 v) for my project.

Here is how I installed Wormholy ` pod 'Wormholy', :configurations => ['Debug']` in podfile for my app.

[2020-12-14 11:52] pmusolino commented on #76
Hi there. If you try the latest version available (1.6.4 in this moment), the issue should be solved.

[2020-12-14 11:52] #76 closed

[2020-12-14 11:53] pmusolino commented on #97
Hey @San-Di, I investigated and you was right, there was a bug.
I fixed it in the latest version 1.6.4. Can you try it?

Thanks

[2020-12-14 11:53] #97 closed

[2020-12-16 12:15] 39otrebla opened #98 "Crash at startup"
Hi! Since there's no integration code required, I'll just leave the trace here:

[code]

Xcode 12.0
Wormholy 1.6.4 (happens with 1.6.3 as well)
iPhone Simulator w/ iOS 14.0

[2021-02-03 18:07] ZsoltMolnarrr commented on #77
Hello! Our development team is unable to use wormholy due to this issue.
@pmusolino Can we have an update on this please?
We would greatly appreciate the resolution of this problem. 🙏

[2021-02-10 14:22] volbap commented on #69
Hi there, I had the same issue. I just created a [pull request](https://github.com/pmusolino/Wormholy/pull/101) that hopefully solves it.

[2021-03-14 12:05] cernym46 commented on #77
Hi, I'm facing a similar issue. I can't make the delegate get called until the whole request is ignored by Wormholy.

[code]

[2021-04-05 14:50] tadelv commented on #95
I got the same error. I've forked the project and then found out, that you can't have mixed language packages with SPM, so I made changes to wormholy to be Swift only, while sacrificing the automagic hooks. But it's now pure Swift and uses `Wormholy.awake()` to setup itself.

[2021-04-21 09:11] thethtun commented on #77
I was trying to get upload progress. Neither Alamofire or NSURLSesssion works.  It took me awhile to figure this out. I have seen many similar cases on stackoverflow. Unbeknown to a lot of people (including me), most thought it's the issue with alamofire.

[2021-04-28 16:32] lukluca opened #102 "Wormholy deletes Url cache when offline mode"
Hi! Seems that Wormholy deletes the url cache of Alamofire. I have a url request send with Alamofire, and in case of offline mode, i set the url request with CachePolicy.returnCacheDataDontLoad. If I remove Wormholy from my dependency, the app works as expected.

Wormholy version 1.6.4, Alamofire version 5.4.3, iOS version 14.4.2

[2021-05-25 16:17] dyegos commented on #77
Hi. I am having the same issue in my project, we are using a new API and that specific host is not working when using Wormholy. All other APIs' hosts we have implemented works fine. Only this one is problematic when using Wormholy.

I am using Wormholy 1.6.4 and Xcode 12.5.

[2021-07-11 20:36] quifago commented on #62
any update?

[2021-07-12 09:39] pmusolino commented on #62
I still have to look at this issue in detail but if you have time, feel free to contribute ;)

[2021-07-15 09:27] skeyboy opened #103 "crash on iOS 15.0.0"
rashed: com.apple.main-thread
0  libswiftCore.dylib             0x18930dfd0 <redacted> + 204
1  libswiftCore.dylib             0x18931a428 swift_checkMetadataState + 44
2  libswiftCore.dylib             0x18933c6ac <redacted> + 252
3  libswiftCore.dylib             0x18933bc40 <redacted> + 276
4  Wormholy                       0x1073c7be0 WormholyReplaceMethod + 136788
5  Wormholy

[2021-07-15 13:41] pmusolino commented on #103
Hello there.
Are you sure it's related to Wormholy?
How to replicate it?

[2021-07-15 16:13] rmirabelli opened #104 "WormHoly does not build under Xcode 13.0 beta 3 (13A5192i)"
WormHoly does not compile properly under Xcode 13.0 beta 3; specifically, the call to `UIApplication.shared` in WHBaseViewController.swift is causing the issue.

[code]

This can be bypassed by placing an `@available` in front of this function definition:

[code]

There are other methods inside `WormHoly.swift` that would need similar bypassing.

I'm not certain if this would cause other issues; I

[2021-07-15 17:28] rmirabelli commented on #104
This seems to be a problem with SPM, and I'll resolve it at that point. Thanks.

[2021-07-15 17:28] #104 closed

[2021-07-16 02:18] skeyboy commented on #103
I. just. got. it from. firebase report

[2021-07-19 14:30] backslash-f commented on #103
I'm also facing a crash in iOS 15.

I think you could reproduce it by creating a project that uses Wormholy in the latest Xcode 13 and running it against a simulator (iOS 15).

**My versions**:

Wormholy version: 1.6.4 (integrate via Cocoapods)
Xcode version: 13.0 beta 3 (13A5192j)
iOS: 15 beta 3 (19A5297e)

To me it crashes right after the app starts.
Here are the relevant parts of the stack trac

[2021-07-19 14:38] backslash-f commented on #103
Oh, and finally: it crashes when building for `Release`;
(`Xcode / Edit scheme / Run / Info / Build configuration / Release`)

We weren't facing it during development as we were installing via Xcode in debug mode;
QA was facing it in TestFlight builds (release mode).

You may not be able to reproduce w/o using `Release` mode.

Very tricky.

[2021-07-21 08:06] kitskomina commented on #103
We also have got a crash on production build related to WormholyReplaceMethod call on iOS 15 beta.

[2021-07-21 15:52] sdaniel55 commented on #103
Possibly got the same crash, app works fine on iOS 14.x, but crashes on iOS 15b3. We only use Wormholy for debug builds. The project is built with Xcode 12.5.1

<img width="1128" alt="Screenshot 2021-07-21 at 15 53 03" src="https://user-images.githubusercontent.com/4354770/126509944-dceb9224-ebcd-4d7d-82e2-cbc5e89faef0.png">

<img width="1135" alt="Screenshot 2021-07-21 at 15 49 52" src="https://u

[2021-08-11 06:14] ShailendraKushwaha opened #106 "This is not even working on phone or any simulator,"

[2021-08-11 06:15] ShailendraKushwaha opened #107 "This is not even working on phone or any simulator,"
I just added it to my project. and nothing else,
are there any more steps to get it working,
cant find it in readme

[2021-08-23 10:30] pmusolino commented on #107
Hi there.
If you make a shake within your app, does Wormholy appear?

[2021-10-12 13:40] Shishani58 opened #110 "Crash when using sockets"
I have socket manager:
[code]

Application crashes with error Error: `EXC_BAD_ACCESS (code=1, address=0x0)` if Wormholy installed. If you remove the library, then there is no crash.

[2021-11-01 18:20] #96 closed

[2021-11-01 18:20] #98 closed

[2021-11-01 18:20] #103 closed

[2021-11-01 18:30] #62 closed

[2021-11-01 18:46] #106 closed

[2021-11-01 18:47] pmusolino commented on #95
For the moment it's not possible to use SPM because of the classes in Obj-C.

[2021-11-01 18:47] #95 closed

[2021-11-01 19:26] pmusolino commented on #110
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:27] pmusolino commented on #107
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:27] #107 closed

[2021-11-01 19:27] pmusolino commented on #102
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:27] pmusolino commented on #94
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:28] pmusolino commented on #77
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:28] pmusolino commented on #69
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:28] pmusolino commented on #70
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:29] pmusolino commented on #56
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:29] pmusolino commented on #40
I released a new (big) version of Wormholy (1.6.5) with some improvements and fixes. https://github.com/pmusolino/Wormholy/releases/tag/1.6.5 Can you test it and let me know if you are still encountering this issue?

[2021-11-01 19:29] #24 closed

[2021-11-01 21:55] alpriest commented on #40
This is still an issue with 1.6.5.

As `UIWebView` was deprecated in iOS 12.0 I tested with `WKWebView` and it is does not occur with that.

[2021-11-01 21:55] #40 closed

[2021-11-02 04:37] ShailendraKushwaha commented on #107
No , it did not appear when i shake device or simulatore within my app. i wil test again and let you know. thanks

[2021-11-13 08:36] cernym46 commented on #77
Unfortunately the problem persists

[2021-12-02 12:48] mburda-bc opened #112 "Swift Package Manager SPM support?"
When trying to use SPM I end up with this:

[code]

 Do you by any chance plan to support SPM?

[2022-02-22 00:47] EvgenyKarkan commented on #112
Tried specifying the `master` branch - but still no luck.

[2022-02-22 12:52] pmusolino commented on #112
You can find the reason here https://github.com/pmusolino/Wormholy/pull/82#issuecomment-614583033

[2022-02-22 15:08] mar-comp opened #114 "The framework doesn't work with static linking"
Hello ✌️

I use the framework via CocoaPods. I've removed `use_frameworks!` keyword from `Podfile` recently. Now `Wormholy` doesn't work, it doesn't show any network logs, only an empty screen 🤷‍♂️

[2022-03-07 12:40] Sundea commented on #95
I still have this issue 1.6.5 version

[2022-04-06 06:08] gauravborole commented on #77
Checked with latest version Wormholy (1.6.5), problem still persists.
`uploadProgress` closure is not getting called. It works after removing Wormholy from the project.

[2022-04-17 00:09] dingtianran commented on #112
@pmusolino I think maybe you can make a pre-built XCFramework, then we can have a SPM source

[2022-06-23 08:00] akovalov opened #117 "Error in Xcode 14 beta via Cocoapods"
Installed Wormholy v1.6.5 via Cocoapods
Xcode Version 14.0 beta (14A5228q)

<img width="299" alt="Screenshot 2022-06-23 at 10 53 17" src="https://user-images.githubusercontent.com/9693643/175246785-4ef83c41-d6ba-483c-a598-d9ab7d226a35.png">

Other dependencies do not trigger such error. Removing Wormholy resolves the issue.

Adding Wormholy via Swift Package Manager in both Xcode 14 beta and Xcode

[2022-06-24 08:49] lukluca commented on #102
Sorry @pmusolino, I just read your reply <-.->. Now seems ok!

Wormholy version 1.6.5, Alamofire version 5.6.1, iOS version 15.5

[2022-06-24 10:17] akovalov commented on #117
For some reason on install Cocoapods generate an extra "Wormholy-Wormholy" target that looks like an app target, so requires signing. It can be removed and the issue is resolved. Howerver, on the next `pod install` it will appear again.

[2022-06-24 10:43] pmusolino commented on #117
Can you show me how you are importing Wormholy in your Podfile?

[2022-06-24 11:41] akovalov commented on #117
@pmusolino
[code]

[2022-06-24 17:49] SwiftFoxx commented on #117
@akovalov
Your Podfile syntax looks incorrect. It should be

[code]

Even though I tried installing this library with this syntax, I encountered an error. Dumping the log below:
[code]

[2022-06-25 09:31] akovalov commented on #117
@SwiftFoxx the Podfile syntax is correct, it uses "implicit abstract target" notation like described here https://guides.cocoapods.org/using/the-podfile.html.

The issue I've reported is that it's not working in Xcode 14 beta due to an extra target generated, but it works fine with Xcode 13.

[2022-06-27 15:58] SwiftFoxx commented on #117
@akovalov I understand your query now. I installed the pod in `xcode 14 beta`. Didn't see any extra target and the project built fine.
I'm sorry, I have no idea what's the issue you're facing.

[2022-06-29 12:50] akovalov commented on #117
@SwiftFoxx I've tried now with the latest Xcode 14.0 beta 2 (14A5229c) and the issue is still there. It looks like the same issue described here https://github.com/CocoaPods/CocoaPods/issues/11402. I now see that it's not an extra target, that target is for Wormholy to work properly. But the issue is that it requires a team for signing, which looks like an Xcode 14 or Cocoapods issues. However, I

[2022-06-29 17:05] SwiftFoxx commented on #117
@akovalov I deleted and created a new test project. This time the target appeared. Positive.
So, I was curious why it was appearing. I inspected the `.podspec` file and concluded it's the `resources` bundle needed to copy non-source files into the pod target. But it should not have asked for a team for signing.
So, seems like it's a problem triggered by M1 onwards devices. Ruby and Cocoapods may w

[2022-06-29 17:57] akovalov commented on #117
@SwiftFoxx looks like  you are right. In this case  it would be fine using Wormholy via SPM but there is an error installing it via SPM as well.

[2022-08-26 16:01] rizwan95 opened #118 "Wormholy drops URLSessionWebSocketTask packets."
Wormholy drops URLSessionWebSocketTask packets and returns the error -1005

[2022-09-15 11:00] pratik-gits opened #119 "Need to customise Share Strings"
I need to customise few strings such as Share as cURL string. So, what should be the way ahead? I have two solutions -
1. I make a separate branch in your repository, and use that.
2. Fork it at my org's end and use it from there.

What do you guys suggest?

[2022-10-03 09:51] iwheelbuy commented on #117
post_install do |installer|
  #
  # Fixing resources signing for xcode 14 sdk
  #
  installer.pods_project.targets.each do |target|
    target.build_configurations.each do |config|
      if config.build_settings['WRAPPER_EXTENSION'] == 'bundle'
        config.build_settings['DEVELOPMENT_TEAM'] = 'YOU_TEAM_ID'
      end
    end
  end
end

[2022-10-09 19:22] devanshu-airmeet commented on #118
Same is happening here.
As of now I have using following workaround to make sure things are running:

`Wormholy.ignoredHosts = webSocketHosts`

Looking forward for a solution from the host of this pod

[2022-11-07 03:44] phonefixnicole opened #121 "What's wrong with the new one?"

[2022-11-07 11:09] pmusolino commented on #121
Hi there. What do you mean?

[2022-11-14 13:21] cedricbahirwe opened #122 "Ability to filter by status code"
## General question and Feature request
I was wondering if it could be helpful to have the ability to filter the requests' responses by (for example their `Status Code`) so you don't have to scroll a lot in order to get to a request with a specific status code.

[2022-11-14 13:25] pmusolino commented on #122
This is a good suggestion. Added between the future enhancement. 👍

[2022-11-16 01:49] murraysagal commented on #112
@pmusolino I think the concerns you have in [#82 (comment)](https://github.com/pmusolino/Wormholy/pull/82#issuecomment-614583033) might not be valid now. I think SPM has been enhanced to support all that.

[2022-11-21 14:54] akovalov opened #123 "Network traffic statistics"
I was wondering if Wormholy records all app traffic, is it possible to get data size statistics like how many bytes sent received (zipped and unzipped) and timing per each request? Thanks!

[2022-11-24 07:17] heliang219 commented on #117
Is there any other method to solve this error? not write script, only pod install. Maybe author can update "Wormholy" to fix the program we meet.

[2022-11-24 11:47] akovalov commented on #117
@heliang219 I use the `post_install` like described above in https://github.com/pmusolino/Wormholy/issues/117#issuecomment-1265199547 and it works ok. It also work for any other library that has this thing.

[2022-11-25 08:02] pratik-gits opened #124 "We are not able to open Wormholy from our application"
We have an internal tool which launches Wormholy via the following -
`fileprivate func launchWormHoly() {
        NotificationCenter.default.post(name: NSNotification.Name(rawValue: "wormholy_fire"), object: nil)
}`

We have also made the following changes -
`Wormholy.shakeEnabled = false`
 `Wormholy.ignoredHosts = ["app-measurement.com", "cdn-cf.sharechat.com", "localhost", "itunes.apple.com", "i

[2022-11-25 10:14] penggguna opened #125 "Able to mapping body response feature request"
Hey, Recently i used 2 tools for network debugging, Wormholy and Proxyman. And i was wondering what if we can do a mapping and replace the response body on Wormholy like Proxyman as well. If it's possible, what's the concept to be able achieve that?

Many thanks!

[2022-11-25 13:19] pratik-gits commented on #124
Fixed. Closing now.

[2022-11-25 13:19] #124 closed

[2022-11-25 15:00] kamilw-au opened #126 "Error in Xcode 14.1 via Carthage"
Hello,
I'm getting an error when trying to build Wormholy via Carthage in Xcode 14.1:
[code]

[2022-11-29 05:10] shakhzodiosdev opened #127 "Wormholy on Testflight"
Wormholy does not work on Testflight. Any ideas?